<!-- <iframe id="game" frameborder="0" allow="autoplay" allowfullscreen="" seamless="" scrolling="no" src="https://html5.gamedistribution.com/rvvASMiM/331689c6aab5407cb2b3b12e4b208562"  height= "100vh" width="100%"></iframe> -->

<iframe id="game" src="https://html5.gamedistribution.com/rvvASMiM/331689c6aab5407cb2b3b12e4b208562" 
width="900" height="600" scrolling="none" frameborder="0" webkitallowfullscreen="webkitallowfullscreen"
 mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" height= "100vh" width="100%"></iframe>